# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directories
coverage
*.lcov
.nyc_output

# Build and intermediate files
lib-cov
.grunt
build/Release
dist
.next
.out
.nuxt
.vuepress/dist
.svelte-kit/
.vitepress/dist
.vitepress/cache
.docusaurus
.serverless/
.fusebox/
.dynamodb/
.firebase/

# Dependencies
node_modules/
bower_components/
jspm_packages/
web_modules/

# Cache files
.npm
.yarn-integrity
.parcel-cache
.cache
.eslintcache
.stylelintcache
.vscode-test
.pnp.*
.yarn/*

# Environment variables
.env
.env.*
!.env.example

# Optional project files
*.tsbuildinfo
*.tgz
.tern-port

# Vite / Next / Nuxt / Gatsby specific
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
public/
